@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-surface font-geist;
  }

  /* Custom scrollbar for a cleaner look */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #e5eeff;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d3e4fe;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
